<mat-card class="todo-add">
  <mat-card-header id="card-header">
    <form [formGroup]="todoForm" id="todoForm">
      <span>
        <mat-form-field appearance="legacy" class="add-item-input">
          <input matInput type="text" placeholder="Add new todo item..." formControlName="NewItem" required>
          <mat-error *ngIf="f.NewItem.invalid && f.NewItem.touched">Todo Item is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="add-importance-input">
          <mat-label>Priority</mat-label>
          <input matInput type="number" max=10 min=1 pattern="^[1-9]?[0]?$" placeholder="1" formControlName="NewImportance" required>
          <mat-error *ngIf="f.NewImportance.touched && f.NewImportance.errors?.required">
            Priority is required
          </mat-error>
          <mat-error *ngIf="f.NewImportance.touched && (f.NewImportance.errors?.min || f.NewImportance.errors?.max)">
            Priority should be between 1 to 10
          </mat-error>
        </mat-form-field>
        <br/><br/>
        <button mat-raised-button id="addButton" (click)="addTodo(todoForm.value)" [disabled]="todoForm.invalid">Add</button>
      </span>
    </form>
  </mat-card-header>
  <br/>
  <mat-card-content class="todo-list">
    <table mat-table [dataSource]="todos" class="mat-elevation-z8 list-table">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let todo"> {{todo.Id}} </td>
      </ng-container>
      <ng-container matColumnDef="Item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let todo" (click)="editTodo(todo)"> {{todo.Item}} </td>
      </ng-container>
      <ng-container matColumnDef="Importance">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let todo" (click)="editTodo(todo)"> {{todo.Importance}} </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let todo">
          <button mat-raise-button (click)="removeTodo(todo)" color="danger">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br/>
    <mat-paginator [pageSizeOptions]="[5, 7, 10]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
