<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="Email">
    <mat-error *ngIf="Email?.invalid && Email?.touched">
      Email is invalid
    </mat-error>
  </mat-form-field>
  <br/><br/>
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
    <mat-error *ngIf="Password?.invalid && Password?.touched">
      Password is invalid
    </mat-error>
  </mat-form-field>
  <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <br/><br/>
  <button mat-icon-button [disabled]="loginForm.pristine || loginForm.invalid" type="submit">Login</button>
</form>
