img {
  margin-bottom:4px;
}

mat-sidenav {
  width: 9%;
}

.navMenu {
  font-size:16px;
}

#secondBar {
  height:5vh;
  background-color:darkcyan;
  padding-left:46%;
}

#loginLink {
  padding-left:auto;
}

#footer {
  height:73vh;
}

#welcome {
  width: 100%;
}

.rightScreen {
  float: right;
}
