img {
  margin-bottom:4px;
}

.navMenu {
  font-size:16px;
}

#secondBar {
  height:5vh;
  background-color:darkcyan;
  padding-left:45%;
}

#loginLink {
  padding-left:450%;
}

#footer {
  height:83vh;
}
